
body{
    background: linear-gradient(130deg, black, darkgray);
    margin: 0%;
    padding: 0%;

}
nav{
    min-width: 250px;
    padding: 30px 0px 30px 0px 
}
nav ul{
    background: linear-gradient(90deg, 
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 25%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0) 100%);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2),
        inset 0 0 2px rgba(21, 20, 20, 0.2);
}
nav ul li{
    display: inline-block;
    /*box-shadow: inset -5px -5px 5px rgba(76, 67, 67, 0.1),
    inset 5px 5px 5px rgba(255, 255, 255, 0.508);*/

}
nav ul li a{
    padding: 10px;
    margin-right: 20px;
    color:beige;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-decoration: none;
    font-weight: bolder;
    transition: 0.2s ease;
    cursor: default;
}
nav ul li a:hover{
    background:linear-gradient(rgb(84, 82, 82),grey);
}
.game{
    color:beige;
    display: block;
    width: 240px;
    height: 300px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("Pngtree3d\ jackpot\ poker\ game\ with_6039345\(1\).png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
}
.fej-container{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: rgba(16, 12, 12, 1);
    width: 100%;
    height: 30px;
    z-index: 1;
}
.menu{
    padding-left: 20px;
    padding-right: 20px;
}
.container{
    display: flex;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.game:hover{
    font-size: larger;
    font-weight:900;
    transform:scale(1.15, 1.10);
    cursor: pointer;
    overflow: hidden;
}
.pic{
    height: 260px;
    width: 360px;
}
.logo{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    position: static;
}
button:hover{
    cursor: pointer;
}
footer{
    display:flex;
    margin-top: 15px;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 10px;
    background-color: dimgray;
    justify-content: flex-start;
}
.jobb{
    display:block;
    text-align: justify;
    margin-left: 15px;
    color: white;
    width: 450px;
}
a{
    color: white;
    text-decoration: none;
    list-style: none;
}
a:visited{
    text-decoration: none;
    color:antiquewhite;
}
footer ul li{
    text-decoration: none;
    list-style: none;
}
.fa{
    padding: 10px;
    margin-bottom: 5px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-instagram{
    background: #125688;
    color: white;
}
.social{
    display: inline-block;
    position: relative;
    margin: 8px 15px 0px 0px;
    padding-bottom: 10px;
}
h3{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.fa-google{
    background: lightcoral;
    color: white;
}
.fej{
    padding: 5px 10px 5px 10px;
}
#csak{
    display: none;
}